/* -----------------------------------------
   Trusted Partners Template
   ----------------------------------------- */

.partners {
	display: flex;
	flex-wrap: wrap;
	margin: 0 rem(-30) rem(30);
	text-align: center;
}

	.partners-item {
		color: $body-color;
		max-width: 33.3333%;
		padding: rem(30) rem(30);
		text-decoration: none;
		transition: all .3s ease;
		width: 30.3333%;

		@media (max-width: $tablet) {
			max-width: 50%;
			width: 50%;
		}

		@media (max-width: $phablet) {
			max-width: 100%;
			width: 100%;
		}

		&:hover {
			text-decoration: none;

			h3 {
				color: $brand-yellow;
			}
		}

		h3 {
			font-family: $font-family-base;
			font-size: rem(16);
			text-transform: uppercase;
			font-weight: 300;
			transition: all .3s ease;
		}

		p {
			margin-bottom: 0;
		}

		&[href="#"] {
			pointer-events: none;
		}
	}

		.partners-img {
			border-radius: 50%;
			background-color: #d8d8d8;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: rem(65);
			margin: 0 auto rem(18);
			width: rem(65);
		}