/* -----------------------------------------
   Contact template
   ----------------------------------------- */

.page-template-page_contact {
	
}

	.contact-info {
		background-color: $body-color;
		padding: rem(50) 0 rem(55);
		margin-top: rem(35);
	}

		.contact-info-items {
			align-items: center;
			display: flex;
			justify-content: space-between;

			@media (max-width: $laptop) {
				flex-direction: column;

				> * {
					padding: rem(8) 0;
				}
			}

			a {
				font-weight: bold;
				font-size: rem(27);

				@media (max-width: $phablet) {
					font-size: rem(18);
				}

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

				.fa-mobile,
				.fa-envelope-o {
					font-weight: normal;
					margin-right: rem(15);

					@media (max-width: $phablet) {
						margin-right: rem(8);
					}
				}

				.fa-mobile {
					font-size: rem(45);
					vertical-align: middle;

					@media (max-width: $phablet) {
						font-size: rem(30);
					}

					&:before {
						vertical-align: middle;
					}
				}

				.fa-envelope-o {
					font-size: rem(30);

					@media (max-width: $phablet) {
						font-size: rem(20);
					}
				}
		}

	.contact-form {
		padding-top: rem(60);
		padding-bottom: rem(115);
	}