.page-template-default {
	
}

.partners-list {
	clear: both;
	padding-top: rem(40);
	padding-bottom: rem(100);

	@media (max-width: $tablet) {
		padding-bottom: rem(20);
		padding-top: rem(20);
	}

	ul {
		font-size: rem(14);
		margin: 0 0 1.5rem;
		text-transform: uppercase;
	}

		li {
			display: inline-block;
			letter-spacing: rem(2);

			&:not(:last-child) {
				&:after {
					content: ',';
				}
			}
		}
}