/* -----------------------------------------
   Forms
   ----------------------------------------- */

.gform_wrapper {

	.gform_title {
	}

	.gform_fields {
		margin-left: rem(-8);
		margin-right: rem(-8);
	}
	
	.gfield {
		padding-left: rem(8);
		padding-right: rem(8);
		margin-bottom: rem(55);
		
		&:not(.gform_validation_container) {
			position: relative;
		}
	
		label   {
			display: block;
  			letter-spacing: rem(2);
			line-height: 1;
			margin-bottom: 1rem;
			text-transform: uppercase;
			position: absolute;
			top: calc(100% + 10px);
		}
		
		input,
		select,
		textarea   {
			background-color: rgba($brand-yellow, .23);
			border-radius: 0;
			border: none;
			display: block;
			padding: rem(17) 1rem;
			width: 100%;
		}

		textarea   {
			height: 15rem;
		}
	}

	.gfield_error  {
		input{
			border: 1px solid $form-error-color;
		}
	}
	
	.button {
		padding: 0;
		border: none;
		font-size: rem(17);

		&:after {
			content: "\f178";
			display: inline-block;
			font-family: FontAwesome;
			margin-left: rem(10);
		}

		&:hover {
			background-color: #fff;
			color: $body-color;
		}
	}
	
	.validation_error {
		color: $form-error-color;
		margin-bottom: 2rem;
	}
	.validation_message {
		color: $form-error-color;
		margin-bottom: -1rem;
	}

	.gform_footer {
		position: relative;
		text-align: right;

		@media (max-width: $phablet) {
			padding-top: rem(30);
			text-align: center;
		}

		&:before {
			content: '*Required Field.';
			color: $brand-grey;
			font-size: rem(14);
			left: 50%;
			top: 50%;
			transform: translateY(-50%);
			text-transform: uppercase;
			position: absolute;

			@media (max-width: $laptop) {
				left: 0;
			}

			@media (max-width: $phablet) {
				left: 50%;
				top: rem(-10);
				transform: translate(-50%, 0);
			}
		}
	}
}

.gform_confirmation_message {
	color: $brand-yellow;
}