/* -----------------------------------------
  	Page numbers
   ----------------------------------------- */

ul {
	&.page-numbers {
		border: 1px solid $body-color;
		display: flex;
		font-weight: 600;
		justify-content: center;
		list-style-type: none;
		margin: 0 0 rem(95);
		padding: rem(15) 0;

		li {
			margin: 0 rem(5);
		}

			.page-numbers {
				background-color: transparent;
				color: $brand-yellow;
				display: inline-block;
				text-decoration: none;
				text-align: center;
				min-width: rem(20);
				
				&.current,
				&.next,
				&.prev {
					color: $brand-grey;
				}

				&.next {
					margin-left: rem(10);
				}

				&.prev {
					margin-right: rem(10);
				}
				
				&:hover {

					&:not(.prev):not(.next):not(.current) {
						color: $body-color;
					}

					&:not(.current) {
						color: $brand-yellow;
					}
				}

				.fa {
					font-size: rem(17);
				}

			}
	}
}