/* -----------------------------------------
   Portfolio archive
   ----------------------------------------- */

.post-type-archive-portfolio {

	.portfolio {
		padding-bottom: rem(65);
	}
	
}

	.portfolio-item {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@media (max-width: $tablet) {
			margin-bottom: rem(50);
		}

		@media (max-width: $phablet) {
			text-align: center;
		}

		&:hover {

			.portfolio-image {
				box-shadow:inset 0 0 0 rem(1000) rgba($brand-yellow, .75);
				transform: scale(0.90);

				&:before {
					opacity: 1;
				}

				&:after {
					height: rem(122);
					right: 0;
					width: rem(122);
				}
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.portfolio-image {

				&:after {
					transform: translate(-50%, -50%) rotate(45deg);
					left: 0;
					right: auto;
				}
			}

			.portfolio-excert {
				padding-left: 0;
				padding-right: rem(35);

				@media (max-width: $tablet) {
					padding-right: 0;
				}
			}
		}

		.read-more {
			position: relative;

			&:after {
				background-color: $brand-yellow;
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				top: 94%;
				width: 0;
				opacity: 0;
				transition: all .4s ease;
			}
		}

		&:hover {
			text-decoration: none;

			.read-more {
				color: $brand-yellow;

				&:after {
					width: 86%;
					opacity: 1;
				}
			}
		}
	}


		.portfolio-image,
		.portfolio-excert {
			max-width: 50%;
			width: 50%;

			@media (max-width: $tablet) {
				max-width: 100%;
				width: 100%;
			}
		}

		.portfolio-excert {
			padding-left: rem(35);

			@media (max-width: $tablet) {
				padding-left: 0;
				padding-top: rem(35);
			}

			p {
				color: $body-color;

				@media (max-width: $phablet) {
					text-align:justify;
				}
			}
		}

		.portfolio-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: rgba(#082639, .04);
			overflow: hidden;
			padding-bottom: 34vw;
			position: relative;
			transition: box-shadow .3s ease-out, transform .3s ease;

			@media (max-width: $phablet) {
				padding-bottom: 50vw;
			}

			&:before {
				background-image: url('assets/logo-icon.svg');
				background-size: cover;
				content: '';
				height: rem(145);
				width: rem(145);
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: opacity .3s ease;
			}

			&:after {
				background-color: #fff;
				content: '';
				height: rem(57);
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(51%, -50%) rotate(45deg);
				transition: width .3s ease, height .3s ease;
				width: rem(57);

				@media (max-width: $tablet) {
					display: none;
				}
			}
		}