/* -----------------------------------------
   Portfolio single
   ----------------------------------------- */


//portfolio gallery section
.portfolio-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 rem(-25);
	padding: rem(30) rem(37) rem(40);

	@media (max-width: $phablet) {
		padding: rem(15) 0;
	}
}

	.portfolio-gallery-item {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		padding: 0 rem(25);
		margin-bottom: rem(40);
		width: 50%;

		@media (max-width: $phablet) {
			max-width: 100%;
			width: 100%;
		}

		&:nth-child(even) {
			flex-direction: column-reverse;

			@media (max-width: $phablet) {
				flex-direction: column;
			}

			p {
				padding-bottom: rem(30);
				padding-top: 0;

				@media (max-width: $phablet) {
					padding-top: rem(30);
					padding-bottom: 0;
				}
			}
		}

		p {
			font-style: italic;
			padding: rem(30) rem(30) 0;
			margin: 0;
			text-align: center;
		}
	}

		.portfolio-gallery-link {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			flex: 1 0 auto;
			padding-bottom: 30vw;

			@media (max-width: $phablet) {
				padding-bottom: 80vw;
			}
		}

//testimonial section
.testimonial {
	background-color: $body-color;
	color: $brand-grey;
	margin-bottom: rem(25);
	padding: rem(75) rem(30) rem(90);
	text-align: center;
}

	.testemonial-quote {
		border: 1px solid $brand-grey;
		border-radius: 50%;
		display: inline-block;
		font-family: $font-family-headline;
		font-size: rem(55);
		height: rem(45);
		line-height: rem(85);
		margin-bottom: rem(30);
		vertical-align: middle;
		width: rem(45);
	}

	.testimonial-text {
		font-size: rem(27);
		font-family: $font-family-headline;
		max-width: rem(731);
		margin: 0 auto rem(20);
		quotes: "“" "”" "‘" "’";

		@media (max-width: $phablet) {
			font-size: rem(22);
		}


		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}
	}

	.testimonial-author,
	.testimonial-company {
		font-size: rem(12);
		display: inline-block;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.testimonial-author {

		+ .testimonial-company {
			
			&:before {
				content: '|';
				display: inline-block;
				margin-right: rem(5);
				margin-left: rem(2);
				position: relative;
				top: rem(-1);
			}
		}
	}
	
	//project spec section
	.project-spec {
		background-color: rgba(#082639, 0.13);
		margin-bottom: rem(50);
		padding-top: rem(130);
		padding-bottom: rem(120);

		@media (max-width: $phablet) {
			padding-top: rem(65);
			padding-bottom: rem(60);
		}
	}

		.project-spec-header {
			align-items: center;
			border-bottom: 1px solid #979797;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: rem(15);
			padding-bottom: rem(23);

			@media (max-width: $phablet) {
				display: block;
				text-align: center;
			}

			h2 {
				margin-bottom: 0;

				@media (max-width: $phablet) {
					margin-bottom: rem(20);
				}
			}
		}

			.project-spec-services {
				align-items: center;
				display: flex;
				list-style-type: none;
				margin: 0;

				@media (max-width: $phablet) {
					justify-content: center;
				}

				li {
					margin-left: rem(20);
				}

				img {
					margin: 0;
					width: rem(35);
				}
			}

			.project-spec-list {
				column-count: 3;
				column-gap: rem(15);
				font-size: rem(14);
				letter-spacing: rem(1);
				list-style-type: none;
				line-height: 2.32;
				margin: 0;
				text-transform: uppercase;

				@media (max-width: $phablet) {
					column-count: 1;
					text-align: center;
				}

				li {
					-webkit-column-break-inside: avoid;
				    -moz-column-break-inside: avoid;
				    column-break-inside: avoid;
				}
			}

				