/* -----------------------------------------
   Add to any share
   ----------------------------------------- */

.addtoany-share {
	background-color: $brand-blue;
	border-radius: rem(5);
	margin-bottom: rem(40);
	padding: rem(20) 0;
	text-align: center;

	h2 {
		color: #fff;
		font-size: rem(19);
		letter-spacing: rem(2);
		text-transform: uppercase;
	}
	
	.addtoany_list {
		margin: 0;
		margin-left: rem(2);

		a {
			padding: 0 rem(10);

			> span {
				transition: all .3s ease;
				background-color: $brand-yellow !important;

				path {
					fill: white;
				}
			}
		}
	}
}