/* -----------------------------------------
   Post nav
   ----------------------------------------- */

	.post-nav {
		align-items: center;
		background-color: $body-color;
		border-radius: rem(5);
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		margin: 0 0 rem(100);
		padding: rem(15);
		position: relative;
		text-transform: uppercase;

		@media (max-width: $phablet) {
			background: none;
			margin: rem(25) 0 rem(60);
			padding: rem(10) 0;
		}

		a {
			color: $brand-yellow;
			font-weight: 500;
			text-decoration: none;

			@media (max-width: $phablet) {
				font-size: rem(13);
			}

			&:hover {
				color: $brand-white;
			}
		}

			.fa {
				font-size: rem(17);
			}

			.prev {
				.fa {
					margin-right: rem(8);
				}
			}

			.next {
				.fa {
					margin-left: rem(8);
				}
			}

			.back-to-all {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@media (max-width: $phablet) {
					top: rem(70);
				}
			}
	}