/* -----------------------------------------
   Universals
   ----------------------------------------- */

html, body {
  overflow-x: hidden;
}

body {
	color: $body-color;

	&:not(.home) {
		padding-top: rem(67);
	}
}

.container-small {
	max-width: rem(945);
}

.site-main {
	background-color: #fff;
	position: relative;
	// z-index: 11;
}

/* Type */

h1, h2, h3, h4, h5, h6 {
	color: $headline-color;
	line-height: normal;
	margin-bottom: rem(10);
}

h1 {
	margin: 0 0 1rem 0;
	font-size: rem(28);

	@media (max-width : $phablet) {
		font-size: rem(22);
	}
}

h2 {
	font-size: rem(28);

	@media (max-width : $phablet) {
		font-size: rem(22);
	}
}

h3 {
	font-size: rem(22);

	@media (max-width : $phablet) {
		font-size: rem(19);
	}
}

h4 {
	font-size: rem(19);

	@media (max-width : $phablet) {
		font-size: rem(16);
	}
}

p {
	margin: 0 0 rem(20);
}

a {
	color: $link-color;
	text-decoration: none;
	transition: all .3s ease;
}

strong, b {
	font-weight: 600;
}

blockquote {
	background-color: rgba($brand-yellow, .13);
	font-size: rem(28);
	line-height: normal;
	letter-spacing: rem(3);
	margin-top: rem(40);
	margin-bottom: rem(40);
	margin-left: calc(50% - 50vw);
    margin-right: calc(51% - 50vw);
	text-transform: uppercase;
	text-align: center;

	p {
		@extend .container, .container-small;
		margin-bottom: 0;
		padding: rem(45) rem(40);
	}
	
}


/* Button styles */
.button,
.button-ghost,
.button-reverse {
	border-radius: rem(9);
	display: inline-block;
	font-size: rem(22);
	letter-spacing: rem(2);
	padding: rem(14) rem(20);
	transition: all .3s ease;
	text-transform: uppercase;

	@media (max-width : $phablet) {
		font-size: rem(18);
	}
}

.button {
	background-color: rgba(24, 26, 41, 0.55);
	
	&:hover {
		background-color: $link-color;
		color: $brand-blue;
	}
}

.button-ghost {
	background: none;
	border: 1px solid transparent;
	color: $link-color;
	transition: all 0.3s;
	
	&:hover {
		border-color: $link-color;
	}
}

.button-reverse {
	background-color: transparent;
	border: 1px solid $brand-yellow;
	color: $brand-yellow;
	

	&:hover {
		background-color: $brand-yellow;
		border-color: transparent;
		color: $brand-white;
	}
}

//Page header
.page-header {
	margin-bottom: rem(45);
}

	.featured-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 29%;

		@media (max-width : $phablet) {
			padding-bottom: 50%;
		}
	}


.entry-header {
	margin-bottom: rem(16);
}

.entry-title {
	text-transform: uppercase;
}

.entry-content {

	h1, h2 , h3 , h4 , h5 {
		font-weight: 300;
	    color: #003595;
	    text-transform: uppercase;
	}

	a {
		font-weight: 600;

		&:hover {
			color: $brand-grey;
		}
	}
}

//testing icons
.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}


.icon-test,
.icon-video {
	height: 100px;
	width: 100px;
}
