/* -----------------------------------------
   Add to any share
   ----------------------------------------- */

.addtoany-share {
	align-items: center;
	background-color: $brand-yellow;
	display: flex;
	justify-content: center;
	margin-bottom: rem(35);
	padding: rem(13) 0 rem(7);
	text-align: center;

	@media (max-width: $phablet) {
		display: block;
	}

	h2 {
		color: #fff;
		font-family: $font-family-base;
		font-weight: 600;
		font-size: rem(17);
		letter-spacing: rem(2);
		margin: 0;
		padding-right: rem(20);
		text-transform: uppercase;

		@media (max-width: $phablet) {
			padding-right: rem(0);
			padding-bottom: rem(10);
		}
	}
	
	.addtoany_list {
		margin: 0;
		margin-left: rem(2);

		a {
			padding: 0 rem(7);


			> span {
				background-color: white !important;
				transition: all .3s ease;

				path {
					fill: $brand-yellow;
				}
			}
		}
	}
}
