.site-footer {
	background-color: $body-color;
	text-align: center;
	padding-top: rem(30);
	padding-bottom: rem(10);

	.social-icons {
		padding: rem(20) 0;

		a {
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

	.footer-logo {
		display: block;
		margin: 0 auto;
		width: rem(125);
		padding-bottom: rem(23);
	}

	.footer-inlinks {
		font-size: rem(12);
		line-height: 1.9;
		padding-bottom: rem(15);

		.copyright {
			color: $brand-grey;
		}

		li {

			&:not(.copyright) {
				display: inline-block;
				text-transform: uppercase;

				+ li {
					&:before {
						content: '|';
						color: $brand-grey;
						display: inline-block;
						margin-left: rem(5);
						margin-right: rem(5);
						position: relative;
						top: -1px;
					}
				}
			}	
		}

			a {
				&:hover {
					color: #fff;
				}
			}
	}

#makespace-bee {
	width: rem(30);

	/* makespace logo outline color */
	.makespace-bee-body-outline,
	.wing-outline,
	.wing-outline {
		fill: $brand-yellow;
	}
}
