/* -----------------------------------------
   Site header
   ----------------------------------------- */

.site-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
}

//Prevent scroll if menu is active
.menu-active {
	// overflow: hidden;
}

.top-contact {
	background-color: #fff;
	display: flex;
	font-size: rem(12);
	height: rem(30);
	line-height: rem(34);
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	position: fixed;
	padding-right: rem(30);
	right: 0;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 30;

	@media (max-width: $phablet) {
		font-size: rem(10);
		height: rem(20);
		line-height: rem(23);
		padding-right: rem(20);
	}

	li {
		+ li {
			&:before {
				content: '|';
				display: inline-block;
				margin-left: rem(10);
				margin-right: rem(5);
				position: relative;
				top: -1px;
			}
		}
	}

	a[href^="tel"] {
		color: $body-color;
	}
}
	
	//Menu trigger and logo
	.menu-trigger {
		align-items: center;
		background-color: #fff;
		display: inline-flex;
		left: rem(30);
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);

		@media (max-width: $phablet) {
			left: rem(20);
		}

		.scrolled & {
			top: rem(30);
			transform: translateY(0);

			@media (max-width: $phablet) {
				top: rem(20);
			}
		}

		.brand {
			padding: 0 rem(10);
		}

			img {
				width: rem(83);
			}
	}

		//Open menu button
		.menu-open {
			background-image: url('assets/hamburger.svg');
			background-color: $body-color;
			background-position: center;
			background-size: cover;
			height: rem(74);
			padding: 0;
			width: rem(74);
			outline: none;
		}


//Menu wrapper
.nav-menu {
	align-items: center;
	background-color: $body-color;
	bottom: rem(30);
	display: flex;
	justify-content: space-between;
	left: rem(30);
	position: fixed;
	right: 0;
	top: rem(30);
	transform: translateX(100%);
	transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);

	@media (max-width: $laptop) {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}


	@media (max-width: $phablet) {
		bottom: rem(20);
		left: rem(20);
		top: rem(20);
	}

	.menu-active & {
		transform: translateY(0);
		right: rem(30);

		@media (max-width: $phablet) {
			right: rem(20);
		}
	}

	nav {
		@media (max-width: $laptop) {
			padding: rem(30) 0;
		}

		@media (max-width: $phablet) {
			padding: rem(15) 0;
		}
	}
	
		.menu {
			font-family: $font-family-headline;
			font-size: rem(36);

			@media (max-width: $phablet) {
				font-size: rem(18);
			}

			li {
				padding: rem(6) 0;
			}

			a {
				&:hover {
					color: #fff;
				}
			}
		}


		.social-icons {
			padding-top: rem(18);
		}
}
	
	//menu close trigger wrap
	.menu-trigger-close {
		align-items: center;
		display: flex;

		.brand {
			background-image: url('assets/logo-menu.svg');
			background-size: cover;
			height: rem(40);
			margin-left: rem(57);
			width: rem(83);
		}
	}
		
		//Close menu button
		.menu-close {
			border: none;
			background-image: url('assets/close.svg');
			background-position: center;
			background-size: cover;
			background-color: transparent;
			height: rem(20);
			margin-left: rem(27);
			padding: 0;
			width: rem(20);
		}


		.menu-info {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
			padding-right: rem(65);

			@media (max-width: $laptop) {
				align-items: center;
				padding-right: 0;
			}

			a {
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			.tel {
				font-size: rem(36);
				font-family: $font-family-headline;
				color: $brand-grey;
				padding-top: rem(70);

				@media (max-width: $laptop) {
					padding-top: rem(30);
				}

				@media (max-width: $phablet) {
					font-size: rem(18);
				}
			}

		}


#nav-toggle{
	border-top: 0.25rem solid #000;
	border-bottom: 0.25rem solid #000;
	display: none;
	height: 2.5rem;
	width: auto;
	
	@media (max-width : $mobile-nav-breakpoint) {
		// display: block;
	}
}
