/* -----------------------------------------
  	Page nav
   ----------------------------------------- */

	.page-nav {
		align-items: center;
		border: 1px solid $body-color;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		letter-spacing: rem(2);
		margin: 0 0 rem(100);
		padding: rem(15) rem(28);
		position: relative;
		text-transform: uppercase;

		@media (max-width: $phablet) {
			padding: rem(15);
			margin: 0 0 rem(70);
		}

		a {
			color: $brand-yellow;
			font-weight: 600;
			font-size: rem(16);
			text-decoration: none;

			&:hover {
				color: $body-color;
			}

			@media (max-width: $phablet) {
				font-size: rem(11);
			}

		}

			.back-to-all {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@media (max-width: $phablet) {
					top: rem(70);
				}
			}
	}