/* -----------------------------------------
   Front page
   ----------------------------------------- */

.home {
	
	h2 {
		font-size: rem(28);
		letter-spacing: rem(2);

		@media (max-width : $phablet) {
			font-size: rem(22);
		}
	}
}

//services section
.services {
	background-color: $brand-blue;
	text-align: center;
	padding-bottom: rem(50);

	@media (max-width : $phablet) {
		padding-top: rem(50);
	}

	.container {
		max-width: rem(1300);
	}

	h2,
	h3 {
		text-transform: uppercase;
	}

	h2 {
		color: $brand-white;
		padding-bottom: rem(60);

		@media (max-width : $phablet) {
			padding-bottom: rem(30);
		}
	}

	h3 {
		transition: .3s ease;
		font-weight: 300;
		letter-spacing: rem(4);
	}
}

	.services-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-30);
		padding-bottom: rem(50);

		img {
			max-width: rem(125);
		}
	}


	.services-list-item {
		color: $brand-grey-lt;
		max-width: 25%;
		padding: 0 rem(30);
		width: 25%;

		@media (max-width : $laptop) {
			max-width: 50%;
			width: 50%;
		}

		@media (max-width : $phablet) {
			max-width: 100%;
			width: 100%;
		}

		&:hover {
			color: $link-color;

			h3 {
				color: $link-color;
			}
		}
	}

//about section
.about {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 50%;
	position: relative;

	@media (max-width : $phablet) {
		padding-bottom: 100%;
	}

	.about-text {
		max-width: rem(380);
		position: absolute;
		right: 50%;
		top: 50%;
		text-align: right;
		transform: translateY(-50%);

		@media (max-width : $laptop) {
			right: 50%;
			text-align: center;
			transform: translate(50%, -50%);
		}

		@media (max-width : $phablet) {
			max-width: 90%;
			width: 100%;
		}
	}

	h2, p {
		color: $brand-white;
	}

	h2 {
		text-transform: uppercase;
	}

	&:before {
		bottom: 0;
		content: '';
		background-color: rgba(24, 26, 41, 0.44);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.triangle-up {
		position: absolute;
		top: 0;

		&:after {
		    border-left: 1000px solid $brand-blue;
		    border-right: 1000px solid $brand-blue;
		    border-bottom: 140px solid transparent;
		}
	}
}

//drone technology
.technology {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: rem(70) 0 rem(50);

	@media (max-width : $phablet) {
		padding: rem(70) 0 0;
	}
}

	.technology-content {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 rem(-40);
		text-align: right;

		@media (max-width : $laptop) {
			flex-wrap: wrap;
			text-align: center;
		}

		h2 {
			color: $brand-blue;
			font-weight: 300;
			font-size: rem(32);
			text-transform: uppercase;

			@media (max-width : $phablet) {
				font-size: rem(25);
			}
		}

		.button {
			margin-top: rem(50);
		}
	}

		.technology-item {
			padding: 0 rem(40) rem(50);
		}



//latest posts
.latest-posts {
	margin-bottom: rem(100);
	text-align: center;

	@media (max-width : $phablet) {
		margin-bottom: rem(50);
	}
	
	//show slider arrows on hover
	&:hover {
		.slick-arrow {
			opacity: 1;
		}
		.next-arrow {
			left: 104%;
		}

		.prev-arrow {
			right: 104%;
		}
	}
}

	.latest-posts-heading {
		text-transform: uppercase;
		text-align: center;
	}

.posts-slider {
	margin: 0 rem(-7);
	padding: rem(15) 0 rem(10);

	.slick-slide {
	    padding: 0 rem(7);
	}

	.slick-arrow {
		background: none;
		color: $brand-yellow;
		font-size: rem(40);
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all .3s ease-in;
		z-index: 10;
	}

	.next-arrow {
		left: 100%;
	}

	.prev-arrow {
		right: 100%;
	}
}
	

//Cta
.cta {
	background-position: top center;
    background-repeat: no-repeat;
	position: relative;
	padding: rem(100) 0 rem(190);
	text-align: center;

	.triangle-up {
		position: absolute;
		top: 0;

		&:after {
		    border-left: 1000px solid white;
		    border-right: 1000px solid white;
		    border-bottom: 140px solid transparent;
		}
	}
}

	.cta-content {
		max-width: rem(800);
		margin: 0 auto;
		padding: 0 rem(20);

		h2 {
			font-size: rem(36);
			letter-spacing: .5px;
			padding-bottom: rem(20);

			@media (max-width : $phablet) {
				font-size: rem(22);
			}
		}

		* {
			color: $brand-white;
		}
	}

	.cta-logo {
		max-width: rem(104);
	}

//Section triangles
.triangle-up {
	box-sizing: content-box;
	width: 50%;
    height: 0;    
    padding-left:50%;
    padding-bottom: 7.1%;
    overflow: hidden;

	&:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    margin-left:-1000px;
	    border-left: 1000px solid transparent;
	    border-right: 1000px solid transparent;
	    border-bottom: 140px solid $brand-blue;
	}
}