/* -----------------------------------------
   Single service
   ----------------------------------------- */

.service-template-default {

	.entry-header {
		align-items: center;
		display: flex;
		justify-content: space-between;

		@media (max-width : $phablet) {
			display: block;
			text-align: center;
		}
	}

	.entry-title {
		margin-bottom: 0;


		@media (max-width : $phablet) {
			margin-bottom: rem(16);
		}
	}
}

article {
	
	&.service {
		padding-top: 0;
	}
}



	.service {
		padding-top: rem(30);
	}

		.service-item {
			align-items: center;
			display: flex;
			margin: 0 rem(-35);
			padding-bottom: rem(65);

			@media (max-width : $tablet) {
				flex-wrap: wrap;
				text-align: center;
			}

			&:nth-child(even) {
				flex-flow: row-reverse wrap;

				.button-wrap {
					text-align: left;

					@media (max-width : $tablet) {
						text-align: center;
					}
				}
			}

			h2 {
				font-size: rem(22);
				font-weight: 300;
				color: $brand-blue;
				text-transform: uppercase;
			}
		}

			.service-item-icon,
			.service-item-data {
				padding: 0 rem(35);
			}

			.service-item-icon {
				max-width: 30%;
				margin-bottom: 0;
				width: 30%;

				@media (max-width : $tablet) {
					margin-bottom: rem(30);
				}

				@media (max-width : $phablet) {
					max-width: 50%;
					width: 50%;
				}
			}

			.service-item-data {
				max-width: 70%;
				width: 70%;

				@media (max-width : $tablet) {
					max-width: 100%;
					width: 100%;
				}				

			}
				.button-wrap {
					text-align: right;

					@media (max-width : $tablet) {
						text-align: center;
					}
				}