/* -----------------------------------------
   Blog posts (home, blog page)
   ----------------------------------------- */

   
	.posts {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-8);

		.post {
			max-width: 50%;
			padding: 0 rem(8) rem(16) rem(8);
			width: 50%;

			@media (max-width : $phablet) {
				max-width: 100%;
				width: 100%;
			}
		}
	}

		.post {
			&:not(.has-post-thumbnail) {

				.post-thumbnail {
					background-image: url('assets/post-placeholder.jpg') !important;
				}
			}
		}


	.post-link {
		position: relative;
		display: block;

		.fa-plus-circle {
			font-size: rem(50);
			opacity: 0;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate3d(-50%, -50%, 0) scale(0.3);
			text-shadow: 0 1px 23px rgba(0, 0, 0, 0.5);
			transition: all .3s ease 0s;
		}

		&:hover {

			.post-thumbnail {

				&:before {
					opacity: 1;
				}

				&:after {
					background-color: transparent;
				}
			}

			.post-meta {
				display: none;
			}

			.post-info {
				bottom: 5%;
				transform: translateY(0%);
			}

			.fa-plus-circle {
				opacity: 1;
				transform: translate3d(-50%, -50%, 0) scale(1);
				transition: all .3s ease .3s;
			}
		}
	}

		.post-thumbnail {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding-bottom: 67%;
			position: relative;

			&:before,
			&:after {
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				top: 0;
				right: 0;
				transition: all .3s ease;
			}

			&:before {
				opacity: 0;
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0,0,0, .7));
			}

			&:after {
				background-color: rgba(24, 26, 41, 0.65);
			}
		}

		.post-info {
			bottom: 50%;
			position: absolute;
			padding: 0 3%;
			transform: translateY(50%);
			transition: all .3s ease-in;
			text-align: center;
			width: 100%;

			h3 {
				color: $brand-yellow;
			}
			
			.post-meta {
				align-items: center;
				color: $brand-white;
				display: flex;
				font-size: rem(14);
				justify-content: center;
				list-style-type: none;
				letter-spacing: rem(1);
				margin: 0;
				text-transform: uppercase;

				@media (max-width : $laptop) {
					font-size: rem(12);
					letter-spacing: 0;
				}

				li {
					+ li {

						&:before {
							content: '|';
							margin: 0 rem(6);
						}
					}
				}
			}
		}
