/* -----------------------------------------
   Category list
   ----------------------------------------- */

.category-list {
	margin-bottom: rem(20);
	margin-top: rem(10);
	text-align: center;

	a {
		background-color: $brand-yellow;
		border: 1px solid transparent;
		border-radius: rem(5);
		display: inline-block;
		margin: 0 rem(10);
		padding: rem(10) rem(15);
		color: $body-color;
		text-transform: uppercase;

		&:hover {
			border-color: $brand-yellow;
			background-color: transparent;
			color: $brand-yellow;
		}
	}
}