/* -----------------------------------------
   Filter
   ----------------------------------------- */

.filter-container {
	margin-bottom: rem(60);
	padding-top: rem(10);

	
	.filter-display-label {
		color: $brand-blue;
		font-weight: 600;
		text-transform: uppercase;
	}

	.filter-dropdown {
		position:relative;
		
		.filter-display {
			border: 1px solid $body-color;
			border-radius: rem(6);
			cursor:pointer;
			font-size: rem(19);
			height: 100%;
			padding: rem(10) 3rem rem(10) rem(15);
			position:relative;
			white-space: nowrap;
			width:100%;

			@media (max-width : $laptop) {
				font-size: rem(16);
			}

			@media (max-width : $phablet) {
				font-size: rem(14);
			}
			
			&:before {
				content:"\f107";
				font-family:FontAwesome;
				font-size: rem(25);
				position: absolute;
				top: 50%;
				right: 1rem;
				transform:  rotateX(0deg) translate3d(0,-50%, 0);
				transition: all .4s ease;
			}
		}
		
		ul {
			display:none;
			background: $brand-blue;
			list-style:none;
			margin:0;
			min-width:100%;
			padding:0;
			position:absolute;
			top:100%;
			right:0;
			text-align: left;
			width: 100%;
	
			li {
				margin:0;
				padding:0;
			}
			
			a {
				display:block;
				padding: 0.7rem 1rem;
				text-decoration: none;
				transition: all 0.3s;
				
				&:hover {
					background: rgba(0,0,0,0.1);
				}
			}
		}
		
		&.active {
			z-index:100;
			
			.filter-display:before {
				transform: translate3d(0,-50%, 0) rotateX(180deg);
			}

			ul {
				box-shadow:0 3px 3px rgba(0,0,0,0.1);
				display:block;
			}
		}
	}
}