/* -----------------------------------------
   Footer
   ----------------------------------------- */

.site-footer {
	background-color: $body-color;
	color: $brand-grey;
	position: relative;
	padding-bottom: rem(20);
	text-align: center;

	.triangle-up {
		bottom: 100%;
		position: absolute;
		z-index: 10;

		&:after {
		    border-bottom: 140px solid $body-color;
		}
	}
}

	.footer-logo {
		max-width: 100%;
		margin-bottom: rem(20);
		margin-top: -50px;
	    position: relative;
		width: rem(220);
	    z-index: 10;

	    @media (max-width : $tablet) {
			margin-top: 0;
		}
	}

	.footer-inlinks {
		font-size: rem(12);
		margin-bottom: rem(5);

		li {
			 line-height: 1.57;

			&:not(.copyright) {
				display: inline-block;

				+ li {

					&:before {
						content: '|';
						display: inline-block;
						margin: 0 rem(6) 0 rem(2);
					}

				}
			}

			a {
				&:hover {
					color: $brand-white;
				}
			}
		}
	}

		.footer-tel {
			color: $brand-grey;
			font-size: rem(20);
			font-weight: 500;
	  		line-height: 2.4;

			&:hover {
				color: $brand-yellow;
			}
		}

#makespace-bee {
	width: rem(25);
}

/* makespace logo outline color */
.makespace-bee-body-outline,
.wing-outline,
.wing-outline {
	fill: $brand-yellow !important;
}